<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".SpendLensApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpendLens">

        <activity android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SpendLens.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.WelcomeActivity"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".activities.SetupProfileActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".activities.HomeDashboardActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activities.AddExpenseActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".activities.ExpenseHistoryActivity"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ExpenseDetailActivity"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ReportsActivity"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".activities.InsightsActivity"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ManageCategoriesActivity"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".activities.SettingsActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".activities.EditProfileActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".activities.BudgetHistoryActivity"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".activities.AnalysisActivity"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".activities.AiSettingsActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".activities.BudgetCopilotActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".activities.UploadStatementActivity"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ImportPreviewActivity"
            android:exported="false" android:screenOrientation="portrait"/>

        <!-- App Lock screens -->
        <activity android:name=".activities.LockScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:showWhenLocked="true"
            android:turnScreenOn="true"/>
        <activity android:name=".activities.LockSetupActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <!-- Home Screen Widget -->
        <receiver android:name=".widget.SpendLensWidget"
            android:exported="true"
            android:label="SpendLens Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.spendlens.app.widget.ACTION_WIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>

        <receiver android:name=".widget.WidgetUpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.spendlens.app.widget.ACTION_WIDGET_UPDATE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
